{% extends 'index.html' %}
{% load static %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
<main class="profile">
  <h1>Edit Profile</h1>
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  <!-- Show current profile photo if available -->
  {% if user.userprofile.profile_photo %}
    <img src="{{ user.userprofile.profile_photo.url }}" alt="Profile Photo" class="circular-photo">
  {% else %}
    <img src="{% static 'assets/profile.png' %}" alt="Default Photo" class="circular-photo">
  {% endif %}

<div class="form-group">
  <label for="{{ form.profile_photo.id_for_label }}">Change Profile Photo</label>
  {{ form.profile_photo }}
</div>

<div class="form-group">
  <label for="{{ form.age.id_for_label }}">Age</label>
  {{ form.age }}
</div>

<div class="form-group">
  <label for="{{ form.education_level.id_for_label }}">Education Level</label>
  {{ form.education_level }}
</div>

<div class="form-group">
  <label for="{{ form.preferred_field.id_for_label }}">Preferred Field</label>
  {{ form.preferred_field }}
</div>
<br>
  <button type="submit">Save Changes</button>
</form>


</main>
{% endblock %}
